.advice {
  margin: 0 0 24px 0;
}

.advice__title {
  margin: 0 5px 73px 30px;
  padding: 0;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: $color-text-dark;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: $width-desktop) {
  .advice {
    margin: 0 0 75px 0;
  }

  .advice__wrapper {
    margin: 0 6px;
  }

  .advice__title {
    margin: 0 0 25px 0;
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: $width-tablet) {
  .advice__wrapper {
    margin: 28px 0 0 0;
  }
}
