.catalog-slider {
  overflow: hidden;

  &__prev,
  &__next {
    position: absolute;
    top: -319px;
    background-color: transparent;
    border: none;
    z-index: 3;

    svg {
      fill: $color-text-dark;
    }
  }

  &__prev {
    left: 46px;

    svg {
      transform: rotate(90deg);
    }
  }

  &__next {
    right: 46px;

    svg {
      transform: rotate(-90deg);
    }
  }
}

.catalog-slider__list {
  width: 100%;
}

.catalog-slider__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  opacity: 0.2;

  &_4x {
    margin-right: 4px;
  }

  &_active {
    opacity: 1;
  }
}

.catalog-slider__actions {
  position: relative;
  width: 100%;
}

.catalog-slider__links {
  position: relative;
  margin: 72px 120px 0 120px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $color-text-dark;
    transform: translateY(-50%);
  }
}

.catalog-slider__links-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  background-color: $color-bg-dark;
  z-index: 1;
}

.catalog-slider__link {
  max-width: 300px;
  display: inline-block;
  vertical-align: middle;
  padding: 14px 52px;
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 30px;
  color: $color-text-title;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid $color-text-title;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover,
  &:focus {
    color: $color-text-hover;
  }

  &_4x {
    padding: 14px 47px;
    font-size: 22px;
    letter-spacing: 0.3px;
  }
}

@media (max-width: $width-desktop) {
  .catalog-slider__links {
    margin: 0 42px;
  }
}

@media (max-width: $width-tablet) {
  .catalog-slider__list {
    margin-bottom: 21px;
  }

  .catalog-slider {
    &__prev,
    &__next {
      top: -150px;
    }

    &__prev {
      left: 0;
    }

    &__next {
      right: 0;
    }
  }

  .catalog-slider__links {
    margin: 0 15px;
  }

  .catalog-slider__link {
    max-width: 270px;
    font-size: 22px;
    padding: 10px 20px;

    &_4x {
      padding: 8px 18px;
      font-size: 20px;
      letter-spacing: 0;
    }
  }
}
