.container {
  max-width: 1366px;
  margin: 0 auto;
}

@media (max-width: $width-desktop) {
  .container {
    min-width: $width-tablet;
  }
}

@media (max-width: $width-tablet) {
  .container {
    min-width: $width-mobile;
    width: 100%;
  }
}
