.footer-nav {
  margin: 48px 122px 23px 122px;
}

.footer-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  border-top: 1px solid $color-text-light;
  border-bottom: 1px solid $color-text-light;
  list-style: none;

  li {
    max-width: 200px;
    margin: 0 49px 0 0;
    padding: 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-of-type {
      margin: 0;
    }
  }

  a {
    font-family: $font-secondary;
    letter-spacing: 0.2px;
    color: $color-text-light;
    text-decoration: none;
    outline: none;

    &:hover,
    &:focus {
      color: $color-text-hover;
    }
  }
}


@media (max-width: $width-desktop) {
  .footer-nav {
    margin: 23px 6px;
  }

  .footer-nav__list {
    justify-content: center;
  }
}

@media (max-width: $width-tablet) {
  .footer-nav {
    display: none;
  }
}
