.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 36px 0;
  padding: 0 26px 0 50px;
}

.header-nav__logo {
  margin-right: 25px;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

@media (max-width: $width-tablet) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 15px;
    z-index: 7;
    background-color: $color-bg-dark;

    &_main {
      background-color: $color-bg-intro;
    }
  }

  .header-nav__logo {
    margin: 0 auto;

    svg {
      width: 130px;
      height: 22px;
    }
  }

  .nojs {
    .header-nav {
      position: static;
    }
  }
}
