.header {
  background-color: $color-bg-dark;

  &_main {
    background-image: url("../img/bg-intro@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-bg-intro;
    background-position: center;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .header {
    &_main {
      background-image: url("../img/bg-intro@2x.jpg");
    }
  }
}

@media (max-width: $width-desktop) {
  .header {
    &_main {
      background-position: 60% 0;
    }
  }
}

@media (max-width: $width-tablet) {
  .header {
    &_main {
      background-size: cover;
      background-position: 34% 70px;
    }
  }
}
