.services {
  background-image: url("../img/bg-services@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-bg-intro;
  background-position: center;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .services {
    background-image: url("../img/bg-services@2x.png");
  }
}

.services__wrapper {
  padding: 118px 170px 95px 170px;
}

.services__preview {
  width: 463px;
  max-width: none;
  height: 358px;
  margin-right: 57px;
}

.services__promo-title {
  margin: 0 auto 13px auto;
  padding: 0;
}

.services__promo-desc {
  width: 92%;
  margin: 0 auto 14px auto;
  padding: 0;

  &:last-of-type {
    margin: 0 auto 45px auto;
  }
}

.services__promo-link {
  padding: 14px 65px;
}

@media (max-width: $width-desktop + 200) {
  .services__preview {
    position: relative;
    top: 25px;
    width: 290px;
    height: 300px;
    margin: 0 50px 0 0;
  }
}

@media (max-width: $width-desktop) {
  .services__wrapper {
    padding: 20px 15px 0 15px;

    picture {
      order: 1;
    }
  }

  .services__preview {
    position: relative;
    top: 25px;
    width: 290px;
    height: 300px;
    margin: 0;
  }

  .services__promo {
    width: 80%;
    text-align: center;
  }

  .services__promo-title {
    text-align: center;
  }

  .services__promo-desc {
    text-align: center;
  }
}

@media (max-width: $width-tablet) {
  .services__wrapper {
    padding: 27px 15px 0 15px;
  }

  .services__promo {
    width: 90%;
  }

  .services__promo-desc {
    width: 100%;
    margin: 0 0 10px 0;

    &:last-of-type {
      margin: 0 0 5px 0;
    }
  }

  .services__promo-link {
    display: none;
  }
}
