/* wrapper sizes */
$width-mobile: 320px;
$width-tablet: 767px;
$width-desktop: 1023px;

/* DPR */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* fonts */
$font-primary: "Roboto", "Aria", serif;
$font-secondary: "Hagin Caps Medium", "Georgia", serif;

/* backgrounds */
$color-bg-intro: #161516;
$color-bg-light: #f0ede8;
$color-bg-dark: #e9e1d5;

/* colors */
$color-text-light: #baa480;
$color-text-dark: #9b8869;
$color-text-hover: #ba4f4f;
$color-text-mark: #ba4f4f;
$color-text-title: #817155;
$color-icon-social: #6a6454;
