/* wrapper sizes */
$width-mobile: 320px;
$width-tablet: 767px;
$width-desktop: 1023px;

/* DPR */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* fonts */
$font-primary: "Roboto", "Aria", serif;
$font-secondary: "Hagin Caps Medium", "Georgia", serif;

/* backgrounds */
$color-bg-dark: #161516;
$color-bg-light: #E9E1D5;

/* colors */
$color-text-light: #BAA480;
$color-text-dark: #9B8869;
